
/* Шрифты */

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'),
        url('../fonts/cuprum.woff2') format('woff2'),
        url('../fonts/cuprum.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'),
        url('../fonts/cuprumbold.woff2') format('woff2'),
        url('../fonts/cuprumbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'),
        url('../fonts/cuprumbolditalic.woff2') format('woff2'),
        url('../fonts/cuprumbolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'),
        url('../fonts/cuprumitalic.woff2') format('woff2'),
        url('../fonts/cuprumitalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'),
        url('../fonts/ptsans.woff2') format('woff2'),
        url('../fonts/ptsans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'),
        url('../fonts/ptsansbold.woff2') format('woff2'),
        url('../fonts/ptsansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}



/* Общие свойства */

.page {
  height: 100%;
}



.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Verdana', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


.title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-light-dark);
  text-transform: uppercase;
}


.heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}


.text {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* header - начало */


/* header-logo */

.main-header {
  background-color: var(--basic-gray);
  padding-bottom: 60px;
}

.header-logo {

  background-color: var(--basic-dark);
}

.header-logo .container {
  display: grid;
  grid-template-columns: 220px 270px 300px 150px;
  grid-template-rows: 42px;

}

.header-logo .header-logo-link {

  background-color: var(--basic-red-btn);
  box-shadow: inset 0 -5px 0 0 var(--special-inner-shadow);
  height: 47px;
  display: block;
}


.header-logo-link img {
  padding-left: 56px;
  padding-top: 12px;

}


.header-logo-link:active {
  background-color: var(--special-red-btn);
}




/* Стили поиска */


.search-form .search-label {
  position: relative;
  display: block;
}

.search-form .search-input {
  height: 40px;
  padding-left: 42px;
  color: var(--basic-black);
  background-color: var(--basic-dark);
  border: none;
  width: 226px;
}

.search-form .search-input::placeholder {
  color: var(--basic-white);
}


.search-label .icon-search {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  opacity: 30%;
}


.search-form .search-input:focus {
  background-color: var(--basic-white);
}

.search-form .icon-search:hover {
  opacity: 100%;
}

.search-form .icon-search:active {
  opacity: 30%;
}


/* Иконка поиска в фокусе не меняет цвет на красный */

/*
.search-form .search-input:focus .coordinates-search {
  fill: var(--basic-red-btn);
  opacity: 100%;
} */




/* Корзина, закладки */

/* Общие */

.header-logo .shopping-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}


.shopping-list li {
  display: flex;
  width: 150px;
}


.shopping-list .shopping-item{
  color: var(--basic-white);
}

/* Закладки */

.shopping-list .shopping-item-bookmarks {
  padding-left: 20px;
}

.shopping-item-bookmarks .bookmarks {
  position: relative;
  padding-top: 10px;
  padding-left: 23px;
  width: 100%;
}

.shopping-item-bookmarks .bookmarks::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 15px;
  background-image: url(../img/icons/icon-bookmark.svg);
  background-repeat: no-repeat;
  opacity: 30%;
  top: 13px;
  left: 0;
}


.shopping-item-bookmarks:hover .bookmarks::before,
.shopping-item-bookmarks:focus .bookmarks::before {
  opacity: 100%;
}

.shopping-item-bookmarks:active .bookmarks::before {
  opacity: 30%;
}

/* Корзина */


.shopping-item-basket .basket {
  padding-top: 10px;
  padding-left: 49px;
  width: 136px;
  position: relative;
}


.shopping-item-basket .basket::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../img/icons/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 30%;
  top: 13px;
  left: 26px;
}

.shopping-item-basket:hover .basket::before,
.shopping-item-basket:hover .basket::before {
  opacity: 100%;
}

.shopping-item-basket:active .basket::before {
  opacity: 30%;
}


.shopping-list li:active:not(.not-empty-basket) {
  background-color: var(--special-ultra-dark);
}

.shopping-list .shopping-item:active {
  opacity: 50%;
}



/* Кнопка "Оформить заказ" */

.header-logo .order {
  display: grid;
  align-items: center;
  text-align: center;
  padding: 0;
  color: var(--basic-white);
  background-color: var(--basic-green);
}

.header-logo .order:hover,
.header-logo .order:focus {
  background-color: var(--special-green-btn);
}

.header-logo .order:active {
  background-color: var(--basic-green);
  color: var(--special-white-middle);
}



/* header-contacts */

.header-contacts  {
  display: flex;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 46px;
}

.header-name-address {
  width: 226px;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: var(--basic-red-btn);
  margin: 0;
  margin-right: 94px;
  padding: 0;
  padding-left: 29px;
  box-sizing: border-box;
}

.header-contacts .header-address {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 69px;
  width: 270px;
}


.header-address .header-phone {
  display: flex;
  align-items: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-red-btn);
  border: 3px solid var(--basic-white);
  box-sizing: border-box;
  margin-bottom: 3px;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 5px;
}


.header-address .header-phone::before {
  content: "";
  width: 17px;
  height: 19px;
  background-image: url(../img/icons/icon-phone.svg);
  background-repeat: no-repeat;
  margin-left: 36px;
  margin-right: 17px;
}


.header-address span {
  text-align: center;
  font-size: 14px;
  color: var(--basic-light-dark);
}

.header-contacts .sign-up {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  width: 281px;
  margin: 0;
  padding: 0;
}

.sign-up .login-link {
  width: 121px;
  background-color: var(--basic-white);
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 19px;
  padding-right: 27px;
  box-sizing: border-box;
}


.sign-up .icon-login {
  padding-top: 3px;
}


.icon-login:hover .coordinates-login {
  fill: var(--special-extra-dark-grey);
}

.icon-login:active .coordinates-login {
  fill: var(--special-gray);
}


.sign-up .registration-link {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  width: 150px;
  background-color: var(--basic-white);
}

.sign-up a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.sign-up a:hover,
.sign-up a:focus {
  color: var(--basic-red-btn);
}

.sign-up a:active {
  color: var(--special-gray);
}



/* header-menu */

.header-menu {
  background-color: var(--basic-light-dark);
  width: 940px;
  margin: 0 auto;
}

.header-menu .main-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 28px;
  box-shadow: inset 0 -5px 0 0 var(--basic-dark);
}

.main-menu .menu-item {
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 16px;
  padding-bottom: 20px;
}



/*
.main-menu .menu-item:first-child {
  padding-left: 53px;
}

.main-menu .menu-item:last-child {
  padding-right: 53px;
} */


 .menu-item a {
  color: var(--basic-white);
}


.main-menu .menu-item:hover,
.main-menu .menu-item:focus {
  background-color: var(--basic-dark);
}

.main-menu .menu-item:active {
  background-color: var(--basic-extra-dark);
  opacity: 50%;
}



/* header - КОНЕЦ */


/* container */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}


/* catalog */
/* Стили карточек в каталоге */

.catalog {
  margin-top: 61px;
  margin-bottom: 59px;
}

.catalog .catalog-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
}

.catalog-menu .catalog-item {
  width: 300px;
  padding-bottom: 21px;
  padding-right: 100px;
  box-sizing: border-box;
}


.catalog-menu .materials {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-image: url(../img/background/bg-icon-bucket.svg);
  background-repeat: no-repeat;
  background-position: 213px 31px;
  background-color: var(--basic-yellow);
}



.catalog-menu .new-item {
  position: relative;
  overflow: hidden;
}


.catalog-menu .new-item::before {
  content: "New";
  background-color: var(--basic-red-btn);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  width: 100px;
  height: 30px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4px;
  left: 225px;
  transform: rotate(45deg);
}


.catalog-menu .tools {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-image: url(../img/background/bg-icon-drill.svg);
  background-repeat: no-repeat;
  background-position: 194px 34px;
  background-color: var(--special-blue);
}

.catalog-menu .technic {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-image: url(../img/background/bg-icon-tractor.svg);
  background-repeat: no-repeat;
  background-position: 191px 31px;
  background-color: var(--special-purple);
}


.catalog-menu .discounts {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-image: url(../img/background/bg-icon-basket.svg);
  background-repeat: no-repeat;
  background-position: 196px 26px;
  background-color: var(--special-green);
}

.catalog-menu .delivery {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-image: url(../img/background/bg-icon-car.svg);
  background-repeat: no-repeat;
  background-position: 191px 32px;
  background-color: var(--basic-yellow);
}


.catalog-item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-white);
  margin: 0;
  margin-top: 20px;
  margin-left: 22px;
}

.catalog-item a {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--special-white);
  width: 135px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-left: 22px;
  margin-top: 13px;
  padding: 10px;
  box-sizing: border-box;
}

.catalog-item a:hover,
.catalog-item a:focus {
  background-color: var(--special-greylight);
}

.catalog-item a:active {
  background-color: var(--special-greyblack);
}


/* Стили слайдера */

.catalog-menu .catalog-slider  {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  width: 620px;
  height: 266px;
  position: relative;
}

.catalog-slider .catalog-slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-slider-list li {
  display: none;
}

.catalog-slider-list .slider-item-show {
  display: block;
}


.catalog-slider-list .catalog-slider-perf {
  position: relative;
  padding: 23px 24px 27px 24px;
}


.catalog-slider-perf .photo-perforator {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}


.catalog-slider-list .catalog-slider-drill {
  position: relative;
  padding: 23px 24px 27px 24px;
}


.catalog-slider-drill .photo-drill {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}


.catalog-slider .slider-subtitle {
  margin: 0;
  margin-bottom: 5px;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color:  var(--basic-white);
}

.catalog-slider-perf .slider-text,
.catalog-slider-drill .slider-text {
  margin: 0;
  margin-bottom: 113px;
  color: var(--basic-white);
}


.catalog-slider .catalog-btn-left {
position: absolute;
top: 122px;
left: 24px;
background-image: url(../img/icons/icon-btn-left.svg);
background-repeat: no-repeat;
background-color: transparent;
width: 22px;
height: 40px;
border: none;
padding: 0;
}

.catalog-slider .catalog-btn-right {
position: absolute;
top: 122px;
right: 20px;
background-image: url(../img/icons/icon-btn-right.svg);
background-repeat: no-repeat;
background-color: transparent;
width: 22px;
height: 40px;
border: none;
padding: 0;
}


.catalog-slider .slider-btn {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 192px;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  background-color: var(--basic-red-btn);
  color: var(--basic-white);
}


.catalog-slider .slider-btn:hover,
.catalog-slider .slider-btn:focus {
  background-color: var(--special-dark-red);
}

.catalog-slider .slider-btn:active {
  background-color: var(--special-red-btn);
}




.catalog-slider-btn {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.catalog-slider-btn button {
  position: relative;
  display: block;
  background-color: transparent;
  border: none;
  width: 10px;
  height: 10px;
}



.catalog-slider-btn .circle-btn-white:after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--basic-white);
  position: absolute;
  top: 220px;
  left: 295px;
  border-radius: 50%;
}

.catalog-slider-btn .circle-btn-red:after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--basic-red-btn);
  position: absolute;
  top: 220px;
  left: 302px;
  border-radius: 50%;
  border: 2px solid var(--basic-white);
}


/* products */


.products {
  margin-bottom: 70px;
}


.products .products-content {
  background-color: var(--basic-neutral);
  min-height: 89px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 14px;
  padding-left: 28px;
}


.products-content .title {
  margin: 0;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-right: 20px;
}

.products-content .products-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red-btn);
  text-transform: uppercase;
  padding: 11px 24px 9px 24px;
  margin-top: 24px;
}

.products .products-list {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

/* Карточки товаров */

.products-list .product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px var(--special-extra-light) solid;
  padding: 0;
  padding-bottom: 21px;
  margin: 0;
  min-height: 318px;
  box-sizing: border-box;
}


.products-list .bfg-9000 {
  padding-top: 6px;
}

.products-list .bfg-3000 {
  padding-top: 29px;
}

.products-list .bfg-6000 {
  padding-top: 22px;
}

.products-list .bfg-2000 {
  padding-top: 29px;
}

.bfg-9000 .product-img {
  margin-bottom: 8px;
}

.bfg-3000 .product-img {
  margin-bottom: 36px;
}

.bfg-6000 .product-img {
  margin-bottom: 28px;
}

.bfg-2000 .product-img {
  margin-bottom: 36px;
}


.product-item h3 {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  width: 157px;
  margin: 0 auto;
  margin-bottom: 7px;

}


.product-item .product-link {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--basic-black);
}

.product-link span {
  text-transform: uppercase;
}

.product-item .old-price {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--special-neutral-gray);
  margin-bottom: 13px;
  position: relative;
}


.product-item .old-price::after {
  position: absolute;
  top: 11px;
  left: 0;
  content: '';
  width: 65px;
  height: 1px;
  background-color: var(--special-neutral-gray);
}



.product-item .product-price {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  width: 141px;
  height: 38px;
  color: var(--basic-white);
  background-image: url('../img/background/bg-red-btn.svg');
  background-repeat: no-repeat;
  margin: 0;
  margin-left: 44px;
  padding: 0;
  padding-top: 9px;
  padding-left: 32px;
  box-sizing: border-box;
  margin-top: auto;
  align-self: flex-start;
  text-align: start;
}


.bfg-9000 .product-price {
  margin-left: 46px;
}



.product-item.new {
  position: relative;
  overflow: hidden;
}


.product-item.new:after {
  content: "New";
  display: block;
  background-color: var(--basic-red-btn);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  width: 100px;
  height: 30px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 7px;
  right: -27px;
  transform: rotate(45deg);
}


.products-list .product-item:hover {
  box-shadow: 0 4px 20px 0 var(--special-card-shadow);
}

/* companies */

.companies {
  margin-bottom: 70px;
}



.companies .companies-content {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 89px;
  padding-left: 28px;
  padding-right: 19px;
  column-gap: 50px;
  margin: 0;
  margin-bottom: 20px;
  align-items: center;
  background-color: var(--basic-neutral);
}



.companies-content .title {
  margin: 0;
  padding-right: 20px;
}


.companies-content .companies-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red-btn);
  text-transform: uppercase;
  padding: 8px 38px 9px 39px;
}


.companies .companies-list {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}


.companies-list .companies-item {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 1px var(--special-extra-light) solid;
  width: 220px;
  height: 145px;
  padding: 0;
  margin: 0;
}



.companies-item-link img {
  width: 100%;
}



.companies-list .companies-item:hover,
.companies-list .companies-item:focus {
  box-shadow: 0 4px 20px 0 var(--special-card-shadow);
}


.companies-list .companies-item:active {
  opacity: 50%;
}


/* services */


.services {
  background-color: var(--basic-gray-bg);
  margin: 0;
  margin-bottom: 70px;
}

.services .container {
  padding-top: 60px;
}


.services .heading {
  margin: 0;
}

.services .text {
  margin: 0;
  margin-top: 25px;
}

/* Слайдер */

.services .services-slider {
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 80px;
}


.services-slider .slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 71px;
  margin-bottom: 99px;
  position: relative;
}

.services-slider .slider-list::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 279px;
  width: 10px;
  transform: translateY(-50%);
  background-image: url(../img/background/bg-shadow.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}



.slider-list .slider-list-item {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

/* .slider-block */

/* Общие */

.slider-block .slider-block-item {
  margin-top: 67px;
}

.slider-block .title {
  margin: 0;
}

.slider-block .text {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}


.slider-block .slider-block-descr {
  display: none;
}


/* Доставка */

.slider-block .slider-block-delivery {
  display: block;
  width: 619px;
  min-height: 283px;
  background-image: url(../img/background/bg-truck.svg);
  background-repeat: no-repeat;
  background-position: 100% 22px;
}

.slider-block .text-delivery {
  margin-top: 32px;
  width: 280px;
}



/* Гарантия */

.slider-block .slider-block-guarantee {
  /* display: block; */
  width: 619px;
  min-height: 283px;
  background-image: url(../img/background/bg-guarantee.svg);
  background-repeat: no-repeat;
  background-position: 239px 0;
}

.slider-block-guarantee .text-guarantee {
  margin-top: 25px;
  width: 317px;
}

/* Кредит */


.slider-block .slider-block-credit {
  /* display: block; */
  width: 619px;
  min-height: 283px;
  background-image: url(../img/background/bg-credit.svg);
  background-repeat: no-repeat;
  background-position: 165px 0;
  padding-top: 1px;
}

.slider-block-credit .text-credit {
  margin-top: 30px;
  margin-bottom: 31px;
  width: 279px;
}

.slider-block-credit .credit-btn {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 11px 45px;
  box-sizing: border-box;
  border-radius: 3px;
}


/* Кнопки слайдера */


.slider-list-item .slider-list-btn {
  width: 240px;
  border: none;
  padding-top: 13px;
  padding-bottom: 17px;
  padding-left: 22px;
  padding-right: 22px;
  text-align: left;
  border-top: 1px solid var(--special-button-border);
  border-bottom: 1px solid var(--basic-dark);
}


.slider-list .slider-list-btn-active {
  color: var(--basic-light-dark);
  background-color: var(--basic-white);
  border-top: none;
  border-bottom: none;
}

.slider-list-btn {
  color: var(--basic-white);
  background-color: var(--basic-light-dark);
}


.slider-list-btn:hover:not(.slider-list-btn-active) {
background-color: var(--basic-dark);
}

.slider-list-btn:focus:not(.slider-list-btn-active) {
  background-color: var(--basic-dark)
}


.slider-block-descr .credit-btn {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red-btn);
}




/* about-us*/

.about-us .container {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 50px;
  margin-bottom: 70px;
}

.about-us .about-us-desc {
  width: 460px;
}

.about-us .heading {
  margin: 0;
}

.about-us .text {
  margin: 0;
}

.about-us .first-paragraph {
  margin-top: 24px;
}

.about-us .second-paragraph {
  margin-top: 27px;
}

.about-us-desc ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 2px;
}

.transport-list .transport-item {
  padding-left: 10px;
  position: relative;
  padding-left: 37px;
}

.transport-list .transport-item:not(:last-child) {
  margin-bottom: 12px;
}

.transport-list .transport-item:last-child {
  margin-bottom: 25px;
}

.transport-list .transport-item::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--basic-red-btn);
  top: 12px;
  left: 0;
}

.about-us-desc .about-us-btn {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red-btn);
  padding: 11px 40px;
}


/* Контакты */


.about-us .contacts {
  width: 300px;
}

.contacts .text {
  margin-top: 24px;
  margin-bottom: 32px;
}


.contacts .contacts-link {
  display: block;
  width: 300px;
  height: 158px;
  margin-bottom: 26px;
}

.contacts .contacts-map {
  background-color: var(--special-dark-hyphen);
}

.contacts .help-btn {
  width: 300px;
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red-btn);
}



/* footer */
/* footer-logo */


.main-footer {
  background-color: var(--basic-dark);
}

.main-footer .main-footer-wrapper {
  background-color: var(--basic-light-dark);
}


.footer-logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-logo .footer-contact {
  margin-bottom: 54px;
}


.footer-contact .footer-logo-link {
  width: 220px;
  background-color: var(--basic-red-btn);
  box-shadow: inset 0 -5px 0 0 var(--special-inner-shadow);
  display: block;
  text-align: center;
  margin-bottom: 23px;
}

.footer-contact img {
  margin-top: 19px;
  margin-bottom: 19px;
}


.footer-contact
.footer-address,
.footer-phone {
  color: var(--basic-gray);
  margin: 0;
  margin-left: 3px;
  padding: 0;
}

.footer-logo .footer-menu {
  width: 546px;
  margin-top: 37px;
}


.footer-menu ul {
  list-style: none;
}

.footer-menu .footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.footer-menu .footer-menu-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  padding-left: 22px;
  margin: 0;
  margin-top: 34px;
}


li .footer-menu-item {
  color: var(--basic-gray-bg);
}

.footer-menu-list li:not(:nth-child(5n)) {
  margin-right: 58px;
}



li .footer-menu-item:hover,
li .footer-menu-item:focus {
  text-decoration: underline;
}

li .footer-menu-item:active {
  opacity: 50%;
}


li .footer-menu-item-catalog {
  color: var(--special-yellow);
}


.footer-menu-catalog li:not(:nth-child(4n)) {
  margin-right: 58px;
}

.footer-menu-catalog li:nth-child(2) {
  margin-right: 60px;
}



li .footer-menu-item-catalog:hover,
li .footer-menu-item-catalog:focus {
  text-decoration: underline;
}

li .footer-menu-item-catalog:active {
  opacity: 50%;
}



/* footer-block */


 .main-footer .footer-block {
  display: grid;
  grid-template-columns: 240px 400px 300px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  width: 940px;
  margin: 0 auto;
  padding: 0;
  padding-top: 34px;
  padding-bottom: 29px;
}

.footer-block p {
  margin: 0;
  padding-top: 2px;
}

/* socials-list */


.footer-block .socials-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  padding-left: 148px;
  padding-right: 99px;
  margin: 0;
}

.socials-list .social-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--special-dark);
  position: relative;
}


.socials-list li:not(:nth-child(3n)) {
  margin-right: 2px;
}


.socials-list li:hover,
.socials-list li:focus,
.socials-list li:active {
  background-color: var(--basic-red-btn);
}

.social-item .vkontakte {
  background-image: url(../img/background/bg-vk.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-item .facebook {
  background-image: url(../img/background/bg-facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-item .instagram {
  background-image: url(../img/background/bg-insta.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}


/* footer-feedback */

.footer-block .footer-feedback {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-feedback .feedback-text {
  margin-right: 51px;
}


.footer-feedback
.feedback-link,
.author-link {
  color: var(--special-yellow);
}

.footer-feedback
.feedback-link:active {
  color: var(--basic-red-btn);
}

.footer-feedback
.author-link:active {
  color: var(--basic-red-btn);
}



/*СТИЛИЗАЦИЯ КАТАЛОГА*/


/* header-profile */


.inner-page .basket {
  background-color: var(--basic-red-btn);
  padding-left: 36px;
  margin-left: 13px;
  }


.inner-page .basket::before {
  position: absolute;
  top: 13px;
  left: 12px;
}


.header-contacts.catalog  {
  width: 940px;
  margin: 0 auto;
  margin-bottom: 39px;
}


.catalog .header-address {
  margin-right: 51px;
}


.header-contacts .user-name {
  display: flex;
  flex-direction: column;
}


.header-contacts .user-name-list {
  display: flex;
  align-self: flex-start;
  padding: 0;
  padding-left: 15px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
  margin-bottom: 4px;
  list-style: none;
  background-color: var(--basic-white);
  box-sizing: border-box;

}

.user-name-item .user {
  display: flex;
  align-items: center;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.icon-name-user .icon-user {
  margin-right: 21px;
}


.exit .icon-exit-user {
  display: flex;
  /* display: block; */
}

.icon-exit-user .icon-exit {
  margin-left: 20px;
  padding-top: 2px;
}


.user-name-item .user:active {
  color: var(--special-gray);
}


.icon-user:hover .coordinates-user,
.icon-exit:hover .coordinates-exit {
  fill: var(--special-extra-dark-grey);
}


.icon-user:active .coordinates-user,
.icon-exit:active .coordinates-exit {
  fill: var(--special-gray);
}


/* order-list */


.header-contacts .order-list {
  grid-column: 3 / -1;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  padding-left: 45px;
  padding-right: 45px;
  margin: 0;
}

.order-item a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-light-dark);
}

.order-item .account {
  position: relative;
}

.order-item .account::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  background-color: var( --basic-light-dark);
  top: 8px;
  left: -16px;
  border-radius: 50%;
}


.order-item a:hover,
.order-item a:focus {
  color: var(--basic-red-btn);
}

.order-item a:active {
  color: var(--special-gray);
}



/* page-catalog main*/

.page-catalog .container {
  display: grid;
  grid-template-columns: 220px 1fr;
}

/* breadcrumbs */

.page-catalog .breadcrumbs {
  display: grid;
  grid-template-columns: auto;
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 20px;
}


.breadcrumbs .breadcrumbs-item {
  position: relative;
  margin-right: 41px;
}

.breadcrumbs .breadcrumbs-item:last-child {
  margin-right: 0;
}


.breadcrumbs .breadcrumbs-item::before {
  content: '';
  position: absolute;
  background-image: url(../img/icons/small-arrow-right.svg);
  background-repeat: no-repeat;
  top: 6px;
  left: -25px;
  width: 8px;
  height: 14px;
  display: block;
 }


 .breadcrumbs .breadcrumbs-item:first-child::before {
   display: none;
 }


.breadcrumbs-item a {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
}



.breadcrumbs-item .home {
  background-image: url(../img/icons/icon-home.svg);
  background-repeat: no-repeat;
  transform: translateY(6px);
  width: 14px;
  height: 12px;
  display: block;
}


.page-catalog .title {
  grid-column: 1 / -1;
  background-color: var(--basic-gray-bg);
  padding: 0;
  margin: 0;
  padding: 28px 29px 30px 29px;
  margin-bottom: 20px;
}



/* filter-list Сортировка */


.perforators .filter-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--basic-light-beige);
  margin-bottom: 28px;
  padding: 5px 14px 7px 19px;
  box-sizing: border-box;
}

.filter-list .filter-item {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.filter-item.subtitle {
  margin-right: 140px;
}


.filter-list ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-list .filter-sorting {
  width: 356px;
  margin-right: 46px;
}


.filter-sorting .filter-item {
  margin-right: 70px;
}

.filter-sorting .filter-item:nth-child(2n) {
  margin-right: 65px;
}

.filter-sorting .filter-item:nth-child(3n) {
  margin-right: 0;
}


.filter-item .link-filter-price {
  color: var(--basic-red-btn);
}


.filter-sorting .link-filter-type,
.filter-sorting .link-filter-functionality {
  color: var(--special-black-oppacity);
  border-bottom: 1px dotted var(--basic-red-btn);
}

.filter-sorting a:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red-btn);
}

.filter-sorting a:active {
  color: var(--basic-red-btn);
  border: none;
}


/* Кнопки сортировки(треугольники) list-btn-sorting */

.list-btn-sorting li:nth-child(1) {
  margin-right: 21px;
}

.icon-triangle-up:hover .coordinates-triangle,
.icon-triangle-down:hover .coordinates-triangle {
  fill: var(--basic-black);
}

.icon-triangle-up:active .coordinates-triangle,
.icon-triangle-down:active .coordinates-triangle {
  fill: var(--basic-red-btn);
}


/* perforators */


.page-catalog .perforators {
  margin-left: 20px;
}


.filter .subtitle-filter {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding: 10px 151px 10px 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-light-beige);
  margin: 0;
  margin-bottom: 12px;
}

/* filter */

/* Фильтр с диапазоном */

.filter .filter-item {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid var(--special-dark-opacity);
}


.filter .range-filter {
  margin-top: 11px;
}


.range-filter .range-controls {
  position: relative;
  height: 80px;
  background-color: var(--basic-light-beige);
  border-radius: 5px;
  margin-bottom: 9px;
  padding-top: 39px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--special-line-filter);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: var(--special-light-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var( --special-toggle-color);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--special-toggle-opacity);
  cursor: pointer;
}

.range-controls .toggle-min {
 left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}


.range-filter .range-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.range-price
.range-price-min,
.range-price-max {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 17px;
  line-height: 18px;
  background-color: var(--basic-light-beige);
  border: none;
  width: 95px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}


.range-price span {
  align-self: center;
  color: var(--special-dark-hyphen);
}



/* Фильтр производители(чекбоксы) */

.filter .form-filter-makers {
  border: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--special-dark-opacity);
  margin-bottom: 18px;
}


.form-filter-makers ul {
  list-style: none;
  padding: 0;
  padding-left: 35px;
  margin: 0;
  margin-bottom: 27px;
}


.form-filter-makers li:not(:last-child) {
  margin-bottom: 20px;
}


.filter .title-filter {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}


.form-filter-makers .title-filter {
  margin-bottom: 18px;
}

.filter .option-filter {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}


.option-filter label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;

}


.filter-input-checkbox + label::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -35px;
  width: 23px;
  height: 23px;
  border: 2px solid var(--special-gray);
  border-radius: 3px;
  box-sizing: border-box;
  background-color: transparent;
  display: block;
}

.filter-input-checkbox:hover + label::before {
  border-color: var(--special-gray-radio);
}

.filter-input-checkbox:focus + label::before {
  border: 1px solid var( --basic-dark);
  box-shadow: inset 0 0 5px 1px var(--basic-dark), 0 0 5px 1px var(--basic-dark);
}


.filter-input-checkbox:checked + label::after{
  content: '';
  position: absolute;
  top: -2px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url(../img/icons/icon-checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  box-sizing: border-box;
}



/* Фильтр питание(радио) */

.filter .form-filter-power {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 39px;
}

.form-filter-power .title-filter {
  margin-bottom: 23px;
}

.form-filter-power ul {
  list-style: none;
  padding: 0;
  padding-left: 35px;
  margin: 0;
}


.form-filter-power li:not(:last-child) {
  margin-bottom: 22px;
}

.filter-input-radio + label::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -35px;
  width: 25px;
  height: 25px;
  border: 4px solid var(--special-gray);
  border-radius: 50%;
  background-color: transparent;
  box-sizing: border-box;
}

.filter-input-radio:checked + label::after {
  content: '';
  position: absolute;
  top: 7px;
  left: -27px;
  width: 9px;
  height: 9px;
  background-color: var(--special-gray);
  border-radius: 50%;
}

/* Наведение */

.filter-input-radio:hover + label::before {
  border-color: var(--special-gray-radio);
}

.filter-input-radio:checked:hover + label::after {
  background-color: var(--special-gray-radio);
}

/* Блокирование */

.filter-input-radio:disabled + label::before {
  opacity: 30%;
}

.filter-input-radio:checked:disabled + label::after {
  opacity: 30%;
}

/* Фокус */

.filter-input-radio:focus + label::before {
  border: 1px solid var(--basic-dark);
  box-shadow: inset 0 0 5px 1px var(--basic-dark), 0 0 5px 1px var(--basic-dark);
}


.filter-input-radio:focus + label::after {
  box-shadow: inset 0 0 5px 1px var(--basic-dark), 0 0 5px 1px var(--basic-dark);
}


.filter .btn-filter {
  display: block;
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid var(--special-gray-stroke);
  padding: 9px;
  width: 100%;
}


/* sorting-products */

/* Смотреть блок products выше, т.к. products и sorting-products блоки-близнецы */

/* Стилизация кнопок "Купить" и "В закладки" */

.sorting-products .products-list {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  column-gap: 20px;
  row-gap: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
}



/* product-aside */


.product-item .product-aside {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--basic-white);
  width: 100%;
  height: 120px;
  padding-top: 38px;
}



.product-item .product-aside {
  display: none;
}


.product-item:hover .product-aside {
  display: block;
}

.product-item:focus-within .product-aside {
  display: block;
}




.product-item .btn-buy {
  display: block;
  font-size: 14px;
  line-height: 18px;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-green);
  border: none;
  border-radius: 2px;
  position: relative;
  box-shadow: inset 0 -3px 0 0 var(--special-green-btn-shadow);

  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  box-sizing: border-box;
}

.product-item .btn-buy::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(../img/icons/icon-cart.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 30px;
  opacity: 30%;
}



.product-item .btn-buy:hover,
.product-item .btn-buy:focus {
  background-color: var(--special-green-btn);
}

.product-item .btn-buy:active {
  background-color: var(--special-green-btn-click);
}

.product-item .btn-bookmarks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-light-dark);
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
}

.product-item .btn-bookmarks:hover,
.product-item .btn-bookmarks:focus {
  color: var(--basic-light-dark);
  border: 3px solid var(--basic-light-dark);
}

.product-item .btn-bookmarks:active {
  opacity: 50%;;
}


/* list-pages */



.sorting-products .list-pages {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 59px;
}

.list-pages .list-pages-item {
  margin-right: 10px;
}

.list-pages .list-pages-item:last-child {
  margin-right: 0;
}


.list-pages-item a {
  display: block;
  padding: 10px 15px;
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  border: 1px solid var(--special-gray-stroke);
  border-radius: 2px;

}

.list-pages-item .one {
  color: var(--basic-white);
  background-color: var(--basic-red-btn);
  border: none;
}

.list-pages-item .next {
  padding-left: 32px;
  padding-right: 32px;
  text-transform: uppercase;
}

.list-pages a:hover {
  border-color: var(--special-gray);
}

.list-pages a:active {
  border-color: var(--basic-red-btn);
}

/* about-perforators */

.about-perforators {
  background-color: var(--basic-gray-bg);
  margin: 0;
  padding: 0;

}


.about-perforators .container {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 64px;
  padding-bottom: 68px;
}


.about-perforators .heading {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.about-perforators .text {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}


/* main-footer-catalog */

.main-footer-catalog {
  margin: 0;
}

.main-footer-catalog .img-logo-catalog {
  margin-bottom: 18px;
}


/* Модальные окна */
/* Общие свойства */

.modal {
z-index: 2;
position: fixed;
right: 0;
left: 0;
margin: auto;
color: var(--basic-black);
background-color: var(--basic-white);
}


/* modal-feedback */

.modal-feedback {
  display: none;
  top: 50%;
  transform: translateY(-50%);
  width: 620px;
  padding-top: 39px;
  box-sizing: border-box;
  box-shadow: 0 4px 20px 0 var(--special-card-shadow);
  border-top: 7px solid var(--basic-red-btn);
}


.wrapper-write-us {
  width: 460px;
  margin: 0 auto;
}



.writeus-list li {
  display: flex;
  flex-direction: column;
}

.writeus-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.writeus-item label {
  margin-bottom: 11px;
}


.writeus-item input[type='text'],
.writeus-item input[type='email'] {
  box-sizing: border-box;
  width: 220px;
  padding-top: 7px;
  padding-left: 12px;
  padding-bottom: 7px;
  padding-right: 8px;
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--special-neutral-gray);
  border: 2px solid var(--special-gray);
  border-radius: 2px;
  margin-bottom: 9px;
}

.text-your-letter {
  display: block;
  margin-bottom: 11px;
}

.write-here {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 7px;
  padding-left: 12px;
  color: var(--special-neutral-gray);
  border: 2px solid var(--special-gray);
  border-radius: 2px;
  width: 100%;
  min-height: 114px;
  box-sizing: border-box;
  margin-bottom: 30px;
}


.wrapper-btn-letter {
  width: 620px;
  padding: 37px 80px;
  background-color: var( --special-light-beige);
  box-sizing: border-box;
}

.btn-send-letter {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 9px;
  font-family: 'Cuprum', 'Verdana', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400px;
  text-transform: uppercase;
  color: var(--basic-white);
  width: 100%;
  box-sizing: border-box;
  border: none;
  background-color: var(--basic-red-btn);
  }



.modal-close {
  position: absolute;
  top: 14px;
  right: 11px;
  width: 21px;
  height: 21px;
  border: none;
  cursor: pointer;
  background-image: url(../img/icons/icon-close.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
}


/* modal-map */

.modal-map {
  display: none;
  top:  50%;
  transform: translateY(-50%);
  width: 943px;
  height: 449px;
  border-top: 7px solid var(--basic-red-btn);
  box-sizing: border-box;
}

.modal-map img {
  display: block;
}

.modal-map iframe {
  border: none;
}

/* modal-add-product */

.modal-add-product {
  display: none;
  top: 50%;
  transform: translateY(-50%);
  width: 620px;
  box-sizing: border-box;
  box-shadow: 0 4px 20px 0 var(--special-card-shadow);
  border-top: 7px solid var(--basic-red-btn);
}

.title-add-product {
  position: relative;
  font-family: 'Cuprum', 'Verdana', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-top: 66px;
  padding-bottom: 67px;
  text-align: center;
}

.title-add-product::before {
  position: absolute;
  content: '';
  width: 66px;
  height: 66px;
  background-image: url(../img/icons/icon-mark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 48px;
  left: 81px;
}

.btn-add-product {
  display: flex;
  justify-content: space-between;
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 114px;
  padding-right: 112px;
  width: 100%;
  background-color: var(--special-background-gray);
  box-sizing: border-box;
}


.btn-add-product a {
  font-family: 'Cuprum', 'verdana', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);
  padding-top: 11px;
  padding-bottom: 9px;
  width: 192px;
}

.btn-add-product .btn-order {
  color: var(--basic-white);
  background-color: var(--basic-red-btn);
}

.btn-add-product .btn-continue {
  background-color: var(--basic-white);
}


/* Переменные цветов - начало */

:root {
  --basic-black: #000000;
  --basic-dark: #293449;
  --basic-light-dark: #32425c;
  --basic-extra-dark: #1d2739;
  --basic-white: #ffffff;
  --basic-red-btn: #ee3643;
  --basic-green: #63a63e;
  --basic-neutral: #f9f5f0;
  --basic-gray-bg: #f1f5f7;
  --basic-yellow: #ffbf47;
  --basic-light-beige: #f7f3ec;
  --basic-gray:#f3f7f9;

  --special-gray: #c5c5c5; /* иконка входа в учетную запись */
  --special-dark-gray: #b7bfc8; /* иконка телефона в хедере */
  --special-neutral-gray: #a9a9a9;
  --special-light-gray: #f2f6f8;
  --special-background-gray: #f1f1f1;
  --special-gray-stroke: #e5e5e5;
  --special-gray-radio: #b5b5b5;
  --special-light-beige: #f4f4f4; /* задний фон красной кнопки формы обр.связи */


  --special-red-btn: #ba2732;
  --special-dark-red: #ca2c37;
  --special-green-btn: #5fbb2d;
  --special-green-btn-shadow: #367315;
  --special-green-btn-click: #518534;
  --special-extra-dark-grey: #3d546f; /* иконки входа, выхода и логина при ховере */

  --special-blue: #3bbce3;
  --special-purple: #dc91d8;
  --special-green: #8ed78f;
  --special-yellow: #ffd180;
  --special-light-yellow: #ffc047;
  --special-extra-light: #eaeaea; /* обводка(stroke) у карточек товара */
  --special-dark: #212a3a; /* бэкграунд социальных сетей*/
  --special-dark-hyphen: #444444; /* Дефис в каталоге */
  --special-ultra-dark: #161d29;
  --special-button-border: #405069;
  --special-line-filter: #d7dcde;
  --special-light-green: #00ca74;
  --special-toggle-color: #ababab;

  --special-white-middle: rgb(255,255,255, 0.5);
  --special-white: rgba(255,255,255, 0.3);
  --special-greylight: rgba(197,197,197, 0.3);
  --special-greyblack: rgba(169, 169, 169, 0.3);
  --special-black-oppacity: rgba(0,0,0, 0.3);
  --special-inner-shadow: rgba(0, 0, 0, 0.24);
  --special-card-shadow: rgba(0, 0, 0, 0.15);
  --special-toggle-opacity: rgba(171, 171, 171, 0.3);
  --special-dark-opacity: rgba(0, 0, 0, 0.1);

  /* Переменные цветов - конец */


