
/* Шрифты */

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'),
        url('../fonts/cuprum.woff2') format('woff2'),
        url('../fonts/cuprum.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'),
        url('../fonts/cuprumbold.woff2') format('woff2'),
        url('../fonts/cuprumbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'),
        url('../fonts/cuprumbolditalic.woff2') format('woff2'),
        url('../fonts/cuprumbolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'),
        url('../fonts/cuprumitalic.woff2') format('woff2'),
        url('../fonts/cuprumitalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'),
        url('../fonts/ptsans.woff2') format('woff2'),
        url('../fonts/ptsans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'),
        url('../fonts/ptsansbold.woff2') format('woff2'),
        url('../fonts/ptsansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


/* Общие свойства */

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Verdana, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}


.title {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-light-dark);
  text-transform: uppercase;
}


.heading {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}


/* header - начало */


/* header-logo */

header {
  background-color: var(--basic-gray);
}

.header-logo {

  background-color: var(--basic-dark);
}

.header-logo-link {
  background-color: var(--basic-red-btn);
}

.header-logo .search {
  color: var(--basic-white);
}

.shopping-list .shopping-item{
  color: var(--basic-white);
}

.header-logo .order {
  color: var(--basic-white);
  background-color: var(--basic-green);

}


/* header-contacts */

.header-name-address h4 {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: var(--basic-red-btn);
}


.header-address .header-phone {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-red-btn);
}


.header-address span {
  font-size: 14px;
  color: var(--basic-light-dark);
}


.sign-up a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}



/* header-main-menu */

.header-main-menu {
  background-color: var(--basic-light-dark);
}


 .menu-item a {
  color: var(--basic-white);
}



/* header - КОНЕЦ */


/* catalog */

.catalog-menu .materials {

  background-color: var(--basic-yellow);
}

.catalog-menu .tools {

  background-color: var(--special-blue);
}

.catalog-menu .technic {

  background-color: var(--special-purple);
}

.catalog-menu .discounts {
  background-color: var(--special-green);
}

.catalog-menu .delivery {
  background-color: var(--special-light-yellow);
}


.catalog-slider .slider-subtitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  /* color:  var(--basic-white); */
}

.catalog-slider .slider-text {
  /* color: var(--basic-white); */
}

.catalog-slider .slider-btn {
  background-color: var(--basic-red-btn);
  color: var(--basic-white)
}

.catalog-menu .catalog-item {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-white);
}

.catalog-item a {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
}


/* products */

.products .products-content {
  background-color: var(--basic-neutral);
}


.products-content .products-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red-btn);
  text-transform: uppercase;
}

.products-list .product-item {
  border: 1px var(--special-extra-light) solid;
}

.product-item .product-link {
  font-family: 'PT Sans', Verdana, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--basic-black);
}

.product-item span {
  font-family: 'PT Sans', Verdana, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--special-neutral-gray);
}

.product-item .product-price {
  font-family: 'PT Sans', Verdana, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-white);
}

/* companies */

.companies .companies-content {
  background-color: var(--basic-neutral);
}


.companies-content .companies-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red-btn);
  text-transform: uppercase;
}

.companies-list .companies-item {
  border: 1px var(--special-extra-light) solid;
}


/* services */

.services {
  background-color: var(--basic-gray-bg);
}


.slider-list .slider-list-item {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

.slider-list-item .delivery-btn {
  color: var(--basic-light-dark);
  background-color: var(--basic-white);
}

.slider-list-item .guarantee-btn,
.slider-list-item .credit-btn {
  color: var(--basic-white);
  background-color: var(--basic-light-dark);
}

.services-text,
.delivery-text,
.guarantee-text,
.credit-text {
  font-size: 13px;
  line-height: 24px;
}


.services-credit .credit-btn {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red-btn);
}


/* about-us*/





















/* Переменные цветов - начало*/

:root {
--basic-black: #000000;
--basic-dark: #293449;
--basic-light-dark: #32425c;
--basic-extra-dark: #1d2739;
--basic-white: #ffffff;
--basic-red-btn: #ee3643;
--basic-green: #63a63e;
--basic-neutral: #f9f5f0;
--basic-gray-bg: #f1f5f7;
--basic-yellow: #ffbf47;
--basic-light-beige: #f7f3ec;
--basic-gray:#f3f7f9;

--special-gray: #c5c5c5; /* иконка входа в учетную запись */
--special-dark-gray: #b7bfc8; /* иконка телефона в хедере */
--special-neutral-gray: #a9a9a9;
--special-light-gray: #f2f6f8;
--special-gray-stroke: #e5e5e5;
--special-gray-radio: #b5b5b5;

--special-red-btn: #ba2732;
--special-dark-red: #ca2c37;
--special-green-btn: #5fbb2d;
--special-green-btn-click: #518534;
--special-extra-dark-grey: #3d546f; /* иконки входа, выхода и логина при ховере */

--special-blue: #3bbbc3;
--special-purple: #dc91d8;
--special-green: #8ed78f;
--special-yellow: #ffd180;
--special-light-yellow: #ffc047;
--special-extra-light: #eaeaea; /* обводка(stroke) у карточек товара */
--special-dark: #212a3a; /* бэкграунд социальных сетей*/
--special-dark-hyphen: #444444; /* Дефис в каталоге */

/* Переменные цветов - конец */

