
/* Шрифты */

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'),
        url('../fonts/cuprum.woff2') format('woff2'),
        url('../fonts/cuprum.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'),
        url('../fonts/cuprumbold.woff2') format('woff2'),
        url('../fonts/cuprumbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'),
        url('../fonts/cuprumbolditalic.woff2') format('woff2'),
        url('../fonts/cuprumbolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'),
        url('../fonts/cuprumitalic.woff2') format('woff2'),
        url('../fonts/cuprumitalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'),
        url('../fonts/ptsans.woff2') format('woff2'),
        url('../fonts/ptsans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'),
        url('../fonts/ptsansbold.woff2') format('woff2'),
        url('../fonts/ptsansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}



/* Общие свойства */

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Verdana', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


.title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-light-dark);
  text-transform: uppercase;

}


.heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}


.text {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 13px;
  line-height: 24px;
}


/* header - начало */


/* header-logo */

header {
  background-color: var(--basic-gray);
}

.header-logo {

  background-color: var(--basic-dark);
}

.header-logo-link {
  background-color: var(--basic-red-btn);
}

.header-logo-link:active {
  background-color: var(--special-red-btn);
}

.header-logo ul {
  list-style: none;
}

.shopping-list .shopping-item{
  color: var(--basic-white);
}

li .bookmarks:active {
  background-color: var(--special-ultra-dark);
  color: var(--special-white-middle);
}

li .basket:active {
  color: var(--special-white-middle);
}


.header-logo .order {
  color: var(--basic-white);
  background-color: var(--basic-green);
}

.header-logo .order:hover,
.header-logo .order:focus {
  background-color: var(--special-green-btn);
}

.header-logo .order:active {
  background-color: var(--basic-green);
  color: var(--special-white-middle);
}

/* header-contacts */

.header-name-address {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: var(--basic-red-btn);
}


.header-address .header-phone {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-red-btn);
}


.header-address span {
  font-size: 14px;
  color: var(--basic-light-dark);
}


.sign-up a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.sign-up a:hover,
.sign-up a:focus {
  color: var(--basic-red-btn);
}

.sign-up a:active {
  color: var(--special-gray);
}



/* header-menu */

.header-menu .main-menu {
  background-color: var(--basic-light-dark);
}

.header-menu ul {
  list-style: none;
}

 .menu-item a {
  color: var(--basic-white);
}

.menu-item a:hover,
.menu-item a:focus {
  background-color: var(--basic-dark);
}

.menu-item a:active {
  background-color: var(--basic-extra-dark);
}



/* header - КОНЕЦ */


/* catalog */

.catalog-menu .materials {

  background-color: var(--basic-yellow);
}

.catalog-menu .tools {

  background-color: var(--special-blue);
}

.catalog-menu .technic {

  background-color: var(--special-purple);
}

.catalog-menu .discounts {
  background-color: var(--special-green);
}

.catalog-menu .delivery {
  background-color: var(--special-light-yellow);
}


.catalog-slider ul {
  list-style: none;
}


.catalog-slider .slider-subtitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  /* color:  var(--basic-white); */
}

.catalog-slider .slider-text {
  /* color: var(--basic-white); */
}


.catalog-item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-white);
}

.catalog-item a {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--special-white);
}

.catalog-item a:hover,
.catalog-item a:focus {
  background-color: var(--special-greylight);
}

.catalog-item a:active {
  background-color: var(--special-greyblack);
}


.catalog-slider .slider-btn {
  background-color: var(--basic-red-btn);
  color: var(--basic-white)
}


.catalog-slider .slider-btn:hover,
.catalog-slider .slider-btn:focus {
  background-color: var(--special-dark-red);
}

.catalog-slider .slider-btn:active {
  background-color: var(--special-red-btn);
}


/* products */

.products ul {
  list-style: none;
}

.products .products-content {
  background-color: var(--basic-neutral);
}


.products-content .products-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red-btn);
  text-transform: uppercase;
}

.products-list .product-item {
  border: 1px var(--special-extra-light) solid;
}

.product-item .product-link {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--basic-black);
}

.product-item span {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--special-neutral-gray);
}

.product-item .product-price {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  width: 141px;
  height: 38px;
  text-align: center;
  color: var(--basic-white);
  background-image: url('../img/background/bg-red-btn.svg');
  background-repeat: no-repeat;

}


/* companies */

.companies ul {
  list-style: none;
}

.companies .companies-content {
  background-color: var(--basic-neutral);
}


.companies-content .companies-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red-btn);
  text-transform: uppercase;
}

.companies-list .companies-item {
  border: 1px var(--special-extra-light) solid;
}


/* services */

.services {
  background-color: var(--basic-gray-bg);
}

.services-slider ul {
  list-style: none;
}


.slider-list .slider-list-item {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

.slider-list-item .delivery-btn {
  color: var(--basic-light-dark);
  background-color: var(--basic-white);
  outline: none;
}

.slider-list-item .guarantee-btn,
.slider-list-item .credit-btn {
  color: var(--basic-white);
  background-color: var(--basic-light-dark);
  outline: none;
}


.slider-list-item .guarantee-btn:hover,
.slider-list-item .credit-btn:hover {
background-color: var(--basic-dark);
}



.services-credit .credit-btn {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red-btn);
}


/* about-us*/

.about-us-desc ul {
  list-style: none;
}

.about-us-desc .about-us-btn {
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red-btn);
}

.contacts .contacts-map {
  background-color: var(--special-dark-hyphen);
}

.contacts .help-btn {
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red-btn);
}

/* footer */
/* footer-contact */

.footer-logo {
background-color: var(--basic-light-dark);
}

.footer-contact .footer-logo-link {
  background-color: var(--basic-red-btn);
}

.footer-contact
.footer-address,
.footer-phone {
  color: var(--basic-gray);
}

.footer-menu ul {
  list-style: none;
}


li .footer-menu-item {
  color: var(--basic-gray-bg);
}

li .footer-menu-item:hover,
li .footer-menu-item:focus {
  text-decoration: underline;
}

li .footer-menu-item:active {
  opacity: 50%;
}


li .footer-menu-item-catalog {
  color: var(--special-yellow);
}

li .footer-menu-item-catalog:hover,
li .footer-menu-item-catalog:focus {
  text-decoration: underline;
}

li .footer-menu-item-catalog:active {
  opacity: 50%;
}



/* footer-block */

.footer-block {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.footer-block ul {
  list-style: none;
}

.socials-list li {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--special-dark);

}

.socials-list li:hover,
.socials-list li:focus,
.socials-list li:active {
  background-color: var(--basic-red-btn);
}


.footer-feedback
.feedback-link,
.author-link {
  color: var(--special-yellow);
}

.footer-feedback
.feedback-link:active {
  color: var(--basic-red-btn);
}

.footer-feedback
.author-link:active {
  color: var(--basic-red-btn);
}



/*СТИЛИЗАЦИЯ КАТАЛОГА*/


/* header-profile */

.user-name {
  list-style: none;
}

.order-list {
  list-style: none;
}


.user-name-item .user {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}


.user-name-item .user:active {
  color: var(--special-gray);
}

.icon-user:hover .coordinates-user,
.icon-exit:hover .coordinates-exit {
  fill: var(--special-extra-dark-grey);
}


.icon-user:active .coordinates-user,
.icon-exit:active .coordinates-exit {
  fill: var(--special-gray);
}


.order-item a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-light-dark);
}

.order-item a:hover,
.order-item a:focus {
  color: var(--basic-red-btn);
}

.order-item a:active {
  color: var(--special-gray);
}



/* navigation */

.navigation ul {
  list-style: none;
}

.navigation-item,
.navigation-item a {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
}


.navigation h1 {
  background-color: var(--basic-gray-bg);
}

.navigation .filter-list {
  background-color: var(--basic-light-beige);
}

.navigation-item .link-filter-price {
  color: var(--basic-red-btn);
}

.filter-sorting .link-filter-type,
.filter-sorting .link-filter-functionality {
  color: var(--special-black-oppacity);
  border-bottom: 1px dashed var(--basic-red-btn);
}


/* perforators */

.subtitle-filter {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-light-beige);
}

/* range-container */


.range-container .range-price {
  background-color: var(--basic-light-beige);
}


.range-value
.range-value-min,
.range-value-max {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 17px;
  line-height: 18px;
  background-color: var(--basic-light-beige);
  border: none;
  text-align: center;
}

.form-filter-makers ul,
.form-filter-power ul {
  list-style: none;
}


.title-filter {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}


.option-filter {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.btn-filter {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid var(--special-gray-stroke);
}


/* sorting-products */

/* Смотреть блок products выше, т.к. products и sorting-products блоки-близнецы */

/* Стилизация кнопок "Купить" и "В закладки" */

.sorting-products ul {
  list-style: none;
}


.product-item .btn-buy {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-green);
  border: none;
  border-radius: 2px;
  outline: none;
}


.product-item .btn-buy:hover,
.product-item .btn-buy:focus {
  background-color: var(--special-green-btn);
}

.product-item .btn-buy:active {
  background-color: var(--special-green-btn-click);
}

.product-item .btn-bookmarks {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-light-dark);
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  outline: none;
}

.product-item .btn-bookmarks:hover,
.product-item .btn-bookmarks:focus {
  color: var(--basic-light-dark);
  border: 3px solid var(--basic-light-dark);
}

.product-item .btn-bookmarks:active {
  opacity: 50%;;
}

.list-pages-item a {
  font-family: 'PT Sans', 'Verdana', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  border: 1px solid var(--special-gray-stroke);
  border-radius: 2px;
}

.list-pages-item .one {
  color: var(--basic-white);
  background-color: var(--basic-red-btn);
  border: none;
}


/* about-perforators */

.about-perforators {
  background-color: var(--basic-gray-bg);
}







/* Переменные цветов - начало */

:root {
  --basic-black: #000000;
  --basic-dark: #293449;
  --basic-light-dark: #32425c;
  --basic-extra-dark: #1d2739;
  --basic-white: #ffffff;
  --basic-red-btn: #ee3643;
  --basic-green: #63a63e;
  --basic-neutral: #f9f5f0;
  --basic-gray-bg: #f1f5f7;
  --basic-yellow: #ffbf47;
  --basic-light-beige: #f7f3ec;
  --basic-gray:#f3f7f9;

  --special-gray: #c5c5c5; /* иконка входа в учетную запись */
  --special-dark-gray: #b7bfc8; /* иконка телефона в хедере */
  --special-neutral-gray: #a9a9a9;
  --special-light-gray: #f2f6f8;
  --special-gray-stroke: #e5e5e5;
  --special-gray-radio: #b5b5b5;

  --special-red-btn: #ba2732;
  --special-dark-red: #ca2c37;
  --special-green-btn: #5fbb2d;
  --special-green-btn-click: #518534;
  --special-extra-dark-grey: #3d546f; /* иконки входа, выхода и логина при ховере */

  --special-blue: #3bbbc3;
  --special-purple: #dc91d8;
  --special-green: #8ed78f;
  --special-yellow: #ffd180;
  --special-light-yellow: #ffc047;
  --special-extra-light: #eaeaea; /* обводка(stroke) у карточек товара */
  --special-dark: #212a3a; /* бэкграунд социальных сетей*/
  --special-dark-hyphen: #444444; /* Дефис в каталоге */
  --special-ultra-dark: #161d29;

  --special-white-middle: rgb(255,255,255, 0.5);
  --special-white: rgba(255,255,255, 0.3);
  --special-greylight: rgba(197,197,197, 0.3);
  --special-greyblack: rgba(169, 169, 169, 0.3);
  --special-black-oppacity: rgba(0,0,0, 0.3);

  /* Переменные цветов - конец */


